 /* Style the header */
.header {
  background: var(--background);
  color: var(--primary-color);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  padding-top: 8px;
  padding-bottom: 16px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;

  border-bottom: solid var(--line-width) var(--primary-color); 

  padding-left: var(--horizontal-padding);
  padding-right: var(--horizontal-padding);


}

.headercontainer {
  width: 100%;
  max-width: var(--container-width);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

#headerTitle {
  
}

.headerLinks {
  display: flex;
  align-items: baseline;
}

.headerLinks a {
  list-style-type: none;
  margin-left: 8px;
}

.headerLinks .extLink {
  font-size: 8pt;
}


.header a {
  text-decoration: none;
  color: var(--nav-link);
  /* border-bottom: 0.1em solid var(--nav-underline); */
}

.header a:hover, .header a.selected {
  border-bottom-color: var(--nav-underline-hover);
}

.header a.selected {
  color: var(--nav-link-selected);
}




/*Page Transition*/
div.wiper {
  position:fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);

  transform: translate(-100%, 0);

  display: flex;
  align-items: center;
  justify-content: center;
}



@media (max-width: 1000px) {
  .headercontainer {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .headerLinks {
    width: 100%;
    justify-content: center;
  }
}
